html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: "poppins";
  box-sizing: border-box;
  background: radial-gradient(circle at top, #1e1e2f, #0f0f14);
  color: #fff;
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}



.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
  
}
.hidden{
  display: none;
}
.modal_card{
  background-color: #fff;
  width: 400px;
  /* height: 300px; */
  border-radius: 10px;
  text-align: center;
}
.modal_card span svg{
  width: 100px;
  height: 100px;
  color: green;
  margin-top: 10px;
}
.caption-card{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #0f0f14;

}
.field{
  position: relative;
  width: 280px;
  margin: 30px auto;

}
.field input {
  width: 90%;
  padding: 18px 12px ;
  border: 2px solid #aaa;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  background: transparent;
}
.field label {
  position: absolute;
  left: 12px;
  top: 50%;
 transform: translateY(-50%) ;
 background: transparent;
 padding: 0 6px;
 color: #777;
 pointer-events: none;
 transition: 0.25s ease; 
}
.field input:not(:placeholder-shown) + label{
  top: 0;
  transform: translateY(-50%);
  font-size: 13px;
  color: #1976d2;
  padding: 0 6px;
  background-color: white;
}

.field input:focus {
  border-color: #1976d2;
}
.modal-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px auto 40px auto;
  
  
}

.add-task{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: greenyellow;
  border: none;
  margin-left: 15px;
  font-size: 18px;

}
.cancel{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: tomato;
  margin-right: 15px;
  border: none;
  font-size: 18px;
  
}
.new-task{
  width: 1000px;
  height: 50px;
  margin: 50px auto 10px auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  gap: 30px;
}
.add{
  padding: 10px 15px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.add:hover{
  scale: calc(1.3);
  margin-left: 10px;
}
.all{
  padding: 10px 15px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.task-manager{
  width: 1000px;
  height: max-content;
  margin: 0 auto;
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 20px;
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)) center center / cover,
   url(/img/image_1766264808774477.png)
  
}
.todo{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: max-content;
  box-shadow: 0 3px 4px 0 #F48FB1;
  margin: 10px auto;
  transition: all 0.2s ease-in-out ;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(3px);
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.15);
  transition: all .3s ease,;
}
.todo:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 30px 60px rgba(0,0,0,0.45);
}

.todo-wrapper{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: max-content;
  margin: 10px auto;
  border-radius: 10px;
  /* transition: all 0.2s ease-in-out ; */
  padding-top: 20px;
}
.todo:first-child{
  margin-top: 30px;
}
.select-status{
  width: 150px;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
}
.todo-status{

}
.todo-data{
  font-size: 20px;
  font-weight: bold;
  color: #EC407A;
  transition: all 0.2s ease-in;
  
}
.todo-data:hover{
  scale: calc(1.5);
}
.todo-button{
  padding-left: 25px;

}
.delete-todo{
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background: #f74882;
  box-shadow: 0 3px 5px 0;
  letter-spacing: 1.1px;
}
.todo_show-details{
  text-align: center;
  padding: 0 10px;
  margin-bottom: 10px;
  /* width: max-content; */
  color: black;
  font-size: 18px;
  margin: 20px auto 10px auto;
  /* white-space: nowrap; */
  /* border-right: 4px solid #757575 ; */
  overflow: hidden;
  /* animation: typing1 15s steps(50) ,
   blink1 0.6s infinite; */
}
/* @keyframes typing1 {
  0% {width: 0;}
  50% {width: 570px;}
}
@keyframes blink1 {
  50% {border-color: transparent;}
} */
.todo_showdate-wrapper{
  display: flex;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.todo_show-startdate{
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(26, 22, 22);
}
.todo_show-enddate{
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px; 
  color: rgb(26, 22, 22); 
}
.details-wrapper{
  width: 95%;
  height: max-content;
  background-color: rgba(236, 64, 122 , 0.3);
  border-radius: 10px;
  text-align: center;
  /* overflow: hidden; */
}
.todo-caption{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;

}
.todo-description{
  width: 95%;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color:rgba(255, 255, 255, 0.5) ;
  resize: vertical;
  outline: none;
  
}
.todo-description::placeholder{
  padding: 10px ;
}
.todo-description:focus{
  padding: 10px;
}

.todo-details{
  text-align: center;
  color: black;
  font-size: 18px;
}
.date-wrapper{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
}
.start-wrapper{
  display: flex;
  flex-direction: column;
}
.end-wrapper{
  display: flex;
  flex-direction: column;
}
.date-start , .date-end{
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}
.set-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.set-details{
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(41, 240, 41);
  

}
.cancel-details{
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(247, 28, 28);
}



.hidden {
  display: none;
}

/* .textarea_wrapper{
  position: relative;
  margin: 30px auto;
}
.textarea_wrapper textarea {
  width: 90%;
  padding: 18px 12px;
  border: 2px solid rgba(170, 170, 170 , 0.3);
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  background: transparent;
}
.textarea_wrapper label{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  padding: 0 26px;
  color: #777;
  pointer-events: none;
  transition: all 0.25s ease;
}
.textarea_wrapper textarea:not(:placeholder-shown) + label{
  top: 0;
  left: 50px;
  transform: translateY(-50%);
  font-size: 13px;
  color: #000;
  padding: 5px 6px;
  background-color: rgba(236, 64, 122 , 0.3);
}
.textarea_wrapper textarea:focus{
  border-color: #1976d2;
} */


@media (max-width : 1100px){
  .container{
    width: 980px;

  }
  .task-manager{
    width: 800px;
  }
  .new-task{
    width: 800px;
  }
  .todo{

  }
  .todo-wrapper{

  }
  .todo-data{

  }
  .todo-button{

  }
  .delete-todo{

  }
  .todo_show-details{

  }
  .todo_showdate-wrapper{

  }
  .todo_show-startdate{

  }
  .todo_show-enddate{

  }
}
@media (max-width : 840px){
  .container{
    width: 760px;

  }
  .task-manager{
    width: 690px;
  }
  .new-task{
    width: 690px;
  }
  .select-status{
    width: 110px;
    font-size: 16px;
  }
  .delete-todo{
    padding: 10px 15px;
  }
  .todo_show-details{
    font-size: 16px;
  }
  .todo_show-startdate , .todo_show-enddate {
    font-size: 16px;
  }
}
@media (max-width : 840px){
  .container{
    width: 580px;

  }
  .task-manager{
    width: 540px;
  }
  .new-task{
    width: 540px;
  }
}