body{
  font-family: "poppins";
}

.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
  
}
.hidden{
  display: none;
}
.modal_card{
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
}
span svg{
  width: 100px;
  height: 100px;
  color: green;
  margin-top: 10px;
}
.caption-card{
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.inter-task{
  width: 90%;
  height: 30px;
  margin: 20px auto;
}
.modal-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90%; */
  
  
}

.add-task{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: greenyellow;
  border: none;
  margin-left: 15px;

}
.cancel{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: tomato;
  border: none;
  margin-right: 15px;
}
.new-task{
  width: 500px;
  height: max-content;
  margin: 50px auto 0 auto;
  /* background-color: black; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  padding-bottom: 20px;
}
.add{
  padding: 10px 15px;
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.all{
  padding: 10px 15px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.task-manager{
  width: 500px;
  height: max-content;
  margin: 0 auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 20px;
}
.todo{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 60px;
  background-color: rgba(51, 49, 49, 0.479);
  margin: 10px auto;
  border-radius: 10px;
  transition: all 0.2s ease-in-out ;
}
.todo:first-child{
  margin-top: 30px;
}
.select-status{
  width: 70px;
  height: 35px;
  border-radius: 10px;
}
.todo-status{

}
.todo-data{
  /* padding-left: 20px; */
}
.todo-button{
  padding-left: 25px;

}
.delete-todo{
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

